# Dependencies
/node_modules

# Build outputs
/out
/dist
/build

# Logs
*.log
logs/
errors/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
*.env

# Certificates
*.pfx
*.p12
*.cer
*.crt
*.key
*.pem

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~
*.hintrc

# Temporary files
tmp/
temp/

# Private files
server/db
server/logs

private.*
