.theme_light-mode:root {
    --logo: url("../../asset/logo/light-mode.png") no-repeat center center / contain;
    --background: linear-gradient(#ffffffcc, #ffffffcc),
                  linear-gradient(60deg, #fdfdfd 5%, #f5f5f5 50%) fixed 0 0 / cover;

    --highlighted: #ffff00;

    /* White */
    --white-border: #9ca3af;
    --white-background: #f9fafb;
    --white-hover: #e5e7eb;
    --white-active: #d1d5db;

    /* Red */
    --red-border: #dc2626;
    --red-background: #fee2e2;
    --red-hover: #fca5a5;
    --red-active: #f87171;

    /* Orange */
    --orange-border: #ea580c;
    --orange-background: #fed7aa;
    --orange-hover: #fdba74;
    --orange-active: #fb923c;

    /* Yellow */
    --yellow-border: #ca8a04;
    --yellow-background: #fef3c7;
    --yellow-hover: #fde68a;
    --yellow-active: #facc15;

    /* Light Green */
    --light-green-border: #65a30d;
    --light-green-background: #d9f99d;
    --light-green-hover: #bef264;
    --light-green-active: #a3e635;

    /* Green */
    --green-border: #16a34a;
    --green-background: #bbf7d0;
    --green-hover: #86efac;
    --green-active: #4ade80;

    /* Light Blue */
    --light-blue-border: #2563eb;
    --light-blue-background: #dbeafe;
    --light-blue-hover: #bfdbfe;
    --light-blue-active: #93c5fd;

    /* Blue */
    --blue-border: #1d4ed8;
    --blue-background: #bfdbfe;
    --blue-hover: #93c5fd;
    --blue-active: #60a5fa;

    /* Purple */
    --purple-border: #7c3aed;
    --purple-background: #e9d5ff;
    --purple-hover: #c4b5fd;
    --purple-active: #a78bfa;

    /* Semantic */
    --info-1: #1565c0; --info-2: #1976d2; --info-3: #1e88e5; --info-4: #2196f3;
    --warning-1: #f9a825; --warning-2: #fbc02d; --warning-3: #fdd835; --warning-4: #ffee58;
    --error-1: #e53935; --error-2: #d32f2f; --error-3: #c62828; --error-4: #b71c1c;

    /* Links */ /* TODO add link colors */

    /* Notification */
    --notification-text: #ffffff;
    --notification-gray: #888888;
    --notification-red: #aa4444; --notification-green: #44aa44; --notification-blue: #4488ff;

    /* Shade 0 */
    --shade-00: #000000; --shade-01: #010101; --shade-02: #020202; --shade-03: #030303;
    --shade-04: #040404; --shade-05: #050505; --shade-06: #060606; --shade-07: #070707;
    --shade-08: #080808; --shade-09: #090909; --shade-0a: #0a0a0a; --shade-0b: #0b0b0b;
    --shade-0c: #0c0c0c; --shade-0d: #0d0d0d; --shade-0e: #0e0e0e; --shade-0f: #0f0f0f;

    /* Shade 1 */
    --shade-10: #101010; --shade-11: #111111; --shade-12: #121212; --shade-13: #131313;
    --shade-14: #141414; --shade-15: #151515; --shade-16: #161616; --shade-17: #171717;
    --shade-18: #181818; --shade-19: #191919; --shade-1a: #1a1a1a; --shade-1b: #1b1b1b;
    --shade-1c: #1c1c1c; --shade-1d: #1d1d1d; --shade-1e: #1e1e1e; --shade-1f: #1f1f1f;

    /* Shade 2 */
    --shade-20: #202020; --shade-21: #212121; --shade-22: #222222; --shade-23: #232323;
    --shade-24: #242424; --shade-25: #252525; --shade-26: #262626; --shade-27: #272727;
    --shade-28: #282828; --shade-29: #292929; --shade-2a: #2a2a2a; --shade-2b: #2b2b2b;
    --shade-2c: #2c2c2c; --shade-2d: #2d2d2d; --shade-2e: #2e2e2e; --shade-2f: #2f2f2f;

    /* Shade 3 */
    --shade-30: #303030; --shade-31: #313131; --shade-32: #323232; --shade-33: #333333;
    --shade-34: #343434; --shade-35: #353535; --shade-36: #363636; --shade-37: #373737;
    --shade-38: #383838; --shade-39: #393939; --shade-3a: #3a3a3a; --shade-3b: #3b3b3b;
    --shade-3c: #3c3c3c; --shade-3d: #3d3d3d; --shade-3e: #3e3e3e; --shade-3f: #3f3f3f;

    /* Shade 4 */
    --shade-40: #404040; --shade-41: #414141; --shade-42: #424242; --shade-43: #434343;
    --shade-44: #444444; --shade-45: #454545; --shade-46: #464646; --shade-47: #474747;
    --shade-48: #484848; --shade-49: #494949; --shade-4a: #4a4a4a; --shade-4b: #4b4b4b;
    --shade-4c: #4c4c4c; --shade-4d: #4d4d4d; --shade-4e: #4e4e4e; --shade-4f: #4f4f4f;

    /* Shade 5 */
    --shade-50: #505050; --shade-51: #515151; --shade-52: #525252; --shade-53: #535353;
    --shade-54: #545454; --shade-55: #555555; --shade-56: #565656; --shade-57: #575757;
    --shade-58: #585858; --shade-59: #595959; --shade-5a: #5a5a5a; --shade-5b: #5b5b5b;
    --shade-5c: #5c5c5c; --shade-5d: #5d5d5d; --shade-5e: #5e5e5e; --shade-5f: #5f5f5f;

    /* Shade 6 */
    --shade-60: #606060; --shade-61: #616161; --shade-62: #626262; --shade-63: #636363;
    --shade-64: #646464; --shade-65: #656565; --shade-66: #666666; --shade-67: #676767;
    --shade-68: #686868; --shade-69: #696969; --shade-6a: #6a6a6a; --shade-6b: #6b6b6b;
    --shade-6c: #6c6c6c; --shade-6d: #6d6d6d; --shade-6e: #6e6e6e; --shade-6f: #6f6f6f;

    /* Shade 7 */
    --shade-70: #707070; --shade-71: #717171; --shade-72: #727272; --shade-73: #737373;
    --shade-74: #747474; --shade-75: #757575; --shade-76: #767676; --shade-77: #777777;
    --shade-78: #787878; --shade-79: #797979; --shade-7a: #7a7a7a; --shade-7b: #7b7b7b;
    --shade-7c: #7c7c7c; --shade-7d: #7d7d7d; --shade-7e: #7e7e7e; --shade-7f: #7f7f7f;

    /* Shade 8 */
    --shade-80: #808080; --shade-81: #818181; --shade-82: #828282; --shade-83: #838383;
    --shade-84: #848484; --shade-85: #858585; --shade-86: #868686; --shade-87: #878787;
    --shade-88: #888888; --shade-89: #898989; --shade-8a: #8a8a8a; --shade-8b: #8b8b8b;
    --shade-8c: #8c8c8c; --shade-8d: #8d8d8d; --shade-8e: #8e8e8e; --shade-8f: #8f8f8f;

    /* Shade 9 */
    --shade-90: #909090; --shade-91: #919191; --shade-92: #929292; --shade-93: #939393;
    --shade-94: #949494; --shade-95: #959595; --shade-96: #969696; --shade-97: #979797;
    --shade-98: #989898; --shade-99: #999999; --shade-9a: #9a9a9a; --shade-9b: #9b9b9b;
    --shade-9c: #9c9c9c; --shade-9d: #9d9d9d; --shade-9e: #9e9e9e; --shade-9f: #9f9f9f;

    /* Shade 10 */
    --shade-a0: #a0a0a0; --shade-a1: #a1a1a1; --shade-a2: #a2a2a2; --shade-a3: #a3a3a3;
    --shade-a4: #a4a4a4; --shade-a5: #a5a5a5; --shade-a6: #a6a6a6; --shade-a7: #a7a7a7;
    --shade-a8: #a8a8a8; --shade-a9: #a9a9a9; --shade-aa: #aaaaaa; --shade-ab: #ababab;
    --shade-ac: #acacac; --shade-ad: #adadad; --shade-ae: #aeaeae; --shade-af: #afafaf;

    /* Shade 11 */
    --shade-b0: #b0b0b0; --shade-b1: #b1b1b1; --shade-b2: #b2b2b2; --shade-b3: #b3b3b3;
    --shade-b4: #b4b4b4; --shade-b5: #b5b5b5; --shade-b6: #b6b6b6; --shade-b7: #b7b7b7;
    --shade-b8: #b8b8b8; --shade-b9: #b9b9b9; --shade-ba: #bababa; --shade-bb: #bbbbbb;
    --shade-bc: #bcbcbc; --shade-bd: #bdbdbd; --shade-be: #bebebe; --shade-bf: #bfbfbf;

    /* Shade 12 */
    --shade-c0: #c0c0c0; --shade-c1: #c1c1c1; --shade-c2: #c2c2c2; --shade-c3: #c3c3c3;
    --shade-c4: #c4c4c4; --shade-c5: #c5c5c5; --shade-c6: #c6c6c6; --shade-c7: #c7c7c7;
    --shade-c8: #c8c8c8; --shade-c9: #c9c9c9; --shade-ca: #cacaca; --shade-cb: #cbcbcb;
    --shade-cc: #cccccc; --shade-cd: #cdcdcd; --shade-ce: #cecece; --shade-cf: #cfcfcf;

    /* Shade 13 */
    --shade-d0: #d0d0d0; --shade-d1: #d1d1d1; --shade-d2: #d2d2d2; --shade-d3: #d3d3d3;
    --shade-d4: #d4d4d4; --shade-d5: #d5d5d5; --shade-d6: #d6d6d6; --shade-d7: #d7d7d7;
    --shade-d8: #d8d8d8; --shade-d9: #d9d9d9; --shade-da: #dadada; --shade-db: #dbdbdb;
    --shade-dc: #dcdcdc; --shade-dd: #dddddd; --shade-de: #dedede; --shade-df: #dfdfdf;

    /* Shade 14 */
    --shade-e0: #e0e0e0; --shade-e1: #e1e1e1; --shade-e2: #e2e2e2; --shade-e3: #e3e3e3;
    --shade-e4: #e4e4e4; --shade-e5: #e5e5e5; --shade-e6: #e6e6e6; --shade-e7: #e7e7e7;
    --shade-e8: #e8e8e8; --shade-e9: #e9e9e9; --shade-ea: #eaeaea; --shade-eb: #ebebeb;
    --shade-ec: #ececec; --shade-ed: #ededed; --shade-ee: #eeeeee; --shade-ef: #efefef;

    /* Shade 15 */
    --shade-f0: #f0f0f0; --shade-f1: #f1f1f1; --shade-f2: #f2f2f2; --shade-f3: #f3f3f3;
    --shade-f4: #f4f4f4; --shade-f5: #f5f5f5; --shade-f6: #f6f6f6; --shade-f7: #f7f7f7;
    --shade-f8: #f8f8f8; --shade-f9: #f9f9f9; --shade-fa: #fafafa; --shade-fb: #fbfbfb;
    --shade-fc: #fcfcfc; --shade-fd: #fdfdfd; --shade-fe: #fefefe; --shade-ff: #ffffff;
}

.theme_light-mode > body > .switch-theme {
    &:hover {
        background: var(--yellow-hover);
        box-shadow: 0 0 1vmin .1vmin var(--yellow-hover);

        &:active {
            background: var(--yellow-active);
            box-shadow: 0 0 1vmin .1vmin var(--yellow-active);
        }
    }

    & > .light-mode {
        display: block;
    }
}