body > #content {
    position: fixed;
    top: calc(var(--top-height) - .2vmin); bottom: 0;
    left: 0; right: calc(var(--groups-width) - .2vmin);

    margin: 0;
    padding: 0;

    background: var(--logo);

    transition: all .25s;
}