<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/> <!-- TODO app description -->
        <meta name="keywords" content=""/> <!-- TODO app keywords -->
        <meta name="author" content="LuniZunie"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Terrarian</title>
    </head>
    <body>
        <div id="map">

        </div>
        <div id="panel" class="hidden">
            <div class="title auto-scroll"></div>
            <div class="description auto-scroll"></div>
            <div class="climate"></div>

            <div class="funga">
                <span class="title">Funga</span>
                <div class="list"></div>
            </div>
            <div class="flora">
                <span class="title">Flora</span>
                <div class="list"></div>
            </div>
            <div class="fauna">
                <span class="title">Fauna</span>
                <div class="list"></div>
            </div>

            <div class="button purchase">Loading<span class="loading-dots" data-number="3"></span></div>
        </div>
    </body>
</html>