<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content=""/> <!-- TODO app description -->
        <meta name="keywords" content=""/> <!-- TODO app keywords -->
        <meta name="author" content="LuniZunie"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Terrarian</title>
    </head>
    <body>
        <h1>Terrarian</h1>
        <p>Welcome to Terrarian!</p>
    </body>
</html>