.float {
    z-index: 3;

    position: fixed;
    top: 8.9vh; bottom: 8.9vh; left: 8.9vw; right: 8.9vw;

    border: .1vmin solid var(--shade-d0);
    border-radius: 1vmin;
    padding: 2vmin;

    background: var(--shade-f8);

    transition: all .25s;

    &.hidden {
        pointer-events: none;

        display: block;

        opacity: 0;
    }

    & > .title {
        position: absolute;
        left: 0; top: 0;

        width: 100%; height: 2em;

        margin: 0;
        border: none;
        padding: 0;

        font-size: 2em;
        text-align: center;

        transform: translateY(-100%);

        & > span {
            pointer-events: inherit;

            position: absolute;
            bottom: 0;

            border: .1vmin solid var(--shade-d0);
            border-bottom: none;
            border-radius: 1vmin 1vmin 0 0;
            padding: .75vmin 2vmin;

            background: var(--shade-f8);

            transform: translateX(-50%);
        }
    }
}